*{
    margin: 0px;
    padding: 0px;
}


.circle span {
   text-align: center;
}


.circle {
    height: 500px;
    width: 500px;
    background-color: #f3a20a;
    border-radius: 50%;
    display: inline-block;
   
}
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 50px;
  }

  /* Control the left side */
.left {
    left: 0;
    /* background-color: #111; */
  }

  /* Control the right side */
.right {
    right: 0;
    background-color: red;
  }

  /* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
